.section_project {

  .card {
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  }

  .card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .card-body {
    border: none;
  }

  .card-footer {
    border: none;
    background-color: $main-col-darker;
  }

}

.section_project_single {
  p {
    font-size: 1.125rem;
    font-weight: 300;
  }
}
