.fake-browser-ui {
  padding: 20px 0 0;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.125);
  display: inline-block;
  position: relative;
  line-height: 0;
}

.fake-browser-ui .frame {
  display: block;
  height: 15px;
  position: absolute;
  top: 5px;
  left: 1px;
}

.fake-browser-ui span {
  height: 8px;
  width: 8px;
  border-radius: 8px;
  background-color: #eee;
  border: 1px solid #dadada;
  float: left;
  margin: 0 0 0 4px;
}

.fake-browser-ui .bt-1 {
  background-color: #ED594A;
}

.fake-browser-ui .bt-2 {
  background-color: #FDD800;
}

.fake-browser-ui .bt-3 {
  background-color: #5AC05A;
}
